<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth</th>
      <th>Classname</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td><%= student.birth %></td>
        <td><%= student.classname.full_name %></td>
        <td><%= student.price %></td>
        <td>
          <div>
            <%= link_to 'Show', student %>
            <%= link_to 'Edit', edit_student_path(student) %>
            <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>