<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @student.price %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @student.birth %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
