<p id="notice"><%= notice %></p>

<div>
	<h2 style="display: inline">Student</h2>
	<div class="btn-group" style="float: right">
		<%= link_to student_path(@student, :format => :pdf), :class => "button" do %>
			<i class="glyphicon glyphicon-download-alt"></i>
		<% end %>
		<%= link_to edit_student_path(@student), :class => "button" do %>
			<i class="glyphicon glyphicon-pencil"></i>
		<% end %>
	</div>
</div>

<p>
	<strong>Name:</strong>
	<%= @student.name %>
</p>

<p>
	<strong>Surname:</strong>
	<%= @student.surname %>
</p>

<p>
	<strong>Birth:</strong>
	<%= @student.birth %>
</p>

<p>
	<strong>Classname:</strong>
	<%= @student.classname.full_name %>
</p>

<p>
	<strong>Price:</strong>
	<% price = @student.price %>
	<% @student.copies.each do |copy| %>
	<% price =+ copy.book.price if copy.topay %>
	<% end %>
	<%= price %>
</p>
<hr>

<div>
	<h2 style="display: inline">Books</h2>
	<div class="input-group pull-right">
		<button type="button" class="button" data-toggle="modal" data-target="#copyModal">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
	</div>
</div>

<div id="copyModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Bücher bearbeiten</h4>
			</div>
			<div class="modal-body">
				<%= form_tag student_assign_path(@student), :id => "copy_form" do %>
					<%= hidden_field_tag :copy_ids, [] %>
					<%= hidden_field_tag :mode %>
				<% end %>
				<form id="editCopies">
					<input type="number" id="copyInputField" class="form-control" />
				</form>
				<ul id="copies" class="list-group"></ul>
      		</div>
      		<div class="modal-footer">
      			<button id="cancelBtn" type="button" class="btn btn=default" data-dismiss="modal">Abbrechen</button>
      			<button id="unassignBtn" type="button" class="btn btn-danger" data-dismiss="modal">Zurückgeben</button>
        		<button id="assignBtn" type="button" class="btn btn-primary" data-dismiss="modal">Ausleihen</button>
      		</div>
		</div>
	</div>
</div>

<% if @student.copies.present? %>
	<table>
		<thead>
			<tr>
				<th>Label</th>
				<th>Topay</th>
				<th>Code</th>
			</tr>
		</thead>
		<tbody>
			<% @student.copies.to_ary.each do |copy| %>
				<tr>
					<td><%= copy.book.label %></td>
					<td><%= copy.topay %></td>
					<td><%= copy.code %></td>
					<td>
						<div>
							<%= link_to 'Anzeigen', copy %>
							<%= link_to 'Bearbeiten', edit_copy_path(copy) %>
							<%= link_to 'Löschen', copy, method: :delete, data: { confirm: 'Sind sie sicher?' } %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>There are no books present.</p>
<% end %>

<div class="btn-group">
	<%= link_to 'Zurück', classname_path(@student.classname), :class => "button" %>
</div>
