<%= form_for(@copy) do |f| %>
  <% if @copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
      <% @copy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Buch" %>
    <%= f.collection_select :book_id, Book.all, :id, :label, prompt: true %>
  </div>
  <div class="field">
    <%= f.label "Schüler" %>
    <%= f.collection_select :student_id, Student.all, :id, :full_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label "Kaufbuch" %>
    <%= f.check_box :topay %>
  </div>
  <div class="actions">
    <%= f.submit "Speichern" %>
  </div>
<% end %>
