<p id="notice"><%= notice %></p>

<h1>Copies</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @copies.each do |copy| %>
      <tr>
        <td><%= copy.code %></td>
        <td><%= copy.label %></td>
        <td><%= link_to 'Show', copy %></td>
        <td><%= link_to 'Edit', edit_copy_path(copy) %></td>
        <td><%= link_to 'Destroy', copy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Copy', new_copy_path %>
