<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @copy.book.label %>
</p>

<p>
  <strong>Student:</strong>
  <%= @copy.student.full_name %>
</p>

<p>
  <strong>Topay:</strong>
  <%= @copy.topay %>
</p>

<p>
  <strong>Code:</strong>
  <%= @copy.code %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_copy_path(@copy), :class => "button" %>
  <%= link_to 'Back', copies_path, :class => "button" %>
</div
