<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @copy.code %>
</p>

<p>
  <strong>Label:</strong>
  <%= @copy.label %>
</p>

<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
