<%= form_for(@book, html: { multipart: true }) do |f| %>
	<% if @book.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

			<ul>
			<% @book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label "Titel" %>
		<%= f.text_field :label %>
	</div>
	<div class="field">
		<%= f.label "Preis" %>
		<div class="input-group">
			<%= f.number_field :price, step: 0.01 %>
			<span class="input-group-addon">€</span>
		</div>
	</div>
	<div class="field">
		<%= f.label "Kaufbuch" %>
		<%= f.check_box :topay %>
	</div>
	<div class="field">
		<%= f.label "ISBN" %>
		<%= f.text_field :isbn %>
	</div>
	<div class="field">
		<%= f.label "Bild" %>
		<%= f.file_field :attachment %>
	</div>
	<div class="actions">
		<%= f.submit "Speichern", class: "btn btn-info" %>
	</div>
<% end %>
