<p id="notice"><%= notice %></p>

<h1>Results for "<%= params[:search] %>"</h1>

<% if @books.present? %>
	<%= render 'list' %>
<% else %>
	<p>No results for <strong><%= params[:search] %></strong></p>
<% end %>

<br>

<%= link_to 'Zurück', books_path, :class => "button" %>
