<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @book.label %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @book.paid %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
