<p id="notice"><%= notice %></p>

<h2><%= @book.label %></h2>

<p>
  <%= image_tag( "/images/#{@book.label}.jpg", height:"300" , width:"200",:alt => "Picture missing" )%>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>


<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_book_path(@book), :class => "button" %>
  <%= link_to 'Back', books_path, :class => "button" %>
</div>
