<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Jahr</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @classnames.each do |classname| %>
			<tr>
				<td><%= classname.name %></td>
				<td><%= classname.year %></td>
				<td>
					<div>
						<%= link_to 'Anzeigen', classname %>
						<%= link_to 'Bearbeiten', edit_classname_path(classname) %>
						<%= link_to 'Löschen', classname, method: :delete, data: { confirm: 'Sind sie sicher?' } %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
