<p id="notice"><%= notice %></p>

<h1>Results for "<%= params[:search] %>"</h1>

<% if @classnames.present? %>
  <%= render 'list' %>
<% else %>
  <p>No results for <strong><%= params[:search] %></strong></p>
<% end %>

<br>

<%= link_to 'Back', classnames_path, :class => "button" %>