<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title" style="display:inline"><%= @classname.full_name %></h3>
    <div class="btn-group right">
    	<%= link_to 'Preisliste', classname_price_path(@classname), :class => "btn btn-default" %>
    	<%= link_to 'Bücherliste', classname_list_path(@classname), :class => "btn btn-default" %>
    </div>
  </div>
  <table>
  	<thead>
  		<tr>
  			<td>Name</td>
  			<td>Surname</td>
  			<td>Birth</td>
  			<td colspan="3"></td>
  		</tr>
  	</thead>
  	<tbody>
  	  <% @classname.students.to_ary.each do |student| %>
  	  	<tr>
  	  	  <td><%= student.name %></td>
  	  	  <td><%= student.surname %></td>
  	   	  <td><%= student.birth %></td>
  	  	  <td>
		    <div>
		      <%= link_to 'Anzeigen', student %>
			  <%= link_to 'Bearbeiten', edit_student_path(student) %>
		 	  <%= link_to 'Löschen', student, method: :delete, data: { confirm: 'Sind sie sicher?' } %>
		    </div>
		  </td>
  	  	</tr>
  	  <% end %>
  	</tbody>
  </table>
</div>
