<%= form_for(bookdetail) do |f| %>
  <% if bookdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookdetail.errors.count, "error") %> prohibited this bookdetail from being saved:</h2>

      <ul>
      <% bookdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ISBN %>
    <%= f.text_field :ISBN %>
  </div>

  <div class="field">
    <%= f.label :Leihbuch %>
    <%= f.check_box :Leihbuch %>
  </div>

  <div class="field">
    <%= f.label :imgpath %>
    <%= f.text_field :imgpath %>
  </div>

  <div class="field">
    <%= f.label :preis %>
    <%= f.text_field :preis %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
