<p id="notice"><%= notice %></p>

<h1>Aesclasses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aesclasses.each do |aesclass| %>
      <tr>
        <td><%= aesclass.name %></td>
        <td><%= link_to 'Show', aesclass %></td>
        <td><%= link_to 'Edit', edit_aesclass_path(aesclass) %></td>
        <td><%= link_to 'Destroy', aesclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aesclass', new_aesclass_path %>
