<!DOCTYPE html>
<html>
	<head>
		<title>SBV-AES</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<%= link_to "SBV-AES", "/", class: "navbar-brand" %>
				</div>
				<ul class="nav navbar-nav">
					<li><%= link_to "Bücher", "/books" %></li>
					<li><%= link_to "Klassen", "/classes" %></li>
					<li><%= link_to "Schüler", "/students" %></li>
					<li><%= link_to "Kopien", "/copies" %></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="input-group">
						<input type="text" name="search" id="search" class="form-control" placeholder="Search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit" name="commit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
					</div>
				</form>
			</div>
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>