<!DOCTYPE html>
<html>
  <head>
    <title>SvbAes</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <!-- <%= link_to "SVB-Aes", "/", id: "logo" %>-->
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Help", "/help" %></li>
            <li><%= link_to "Log in", "/login" %></li>-->
            <li><%= link_to "Books", "/books" %></li>
            <li><%= link_to "Classes", "/classes" %></li>
            <li><%= link_to "Students", "/students" %></li>
            <li><%= link_to "Bookdetails", "/bookdetails" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
